body{
    background-color: black;
}

h1{
    color: bisque;
    font-weight: lighter;
    margin-left: 600px;
    margin-top: 50px;
}

p{
    font-weight: lighter;
    margin-left: 100px;
}

#usr {

    color: green;
    font-size: 60px;
    margin-top: -60px;

}


div #comp {

    color: red;
    font-size: 60px;
    margin-top: -60px;
    margin-left: -10px;

}
.userUI{
    width: 600px;
    height: 560px;
    float: right;
    margin-right: 40px;
    margin-top: 50px;
}

.info {
    width: 350px;
    height: 500px;
    margin-left: 550px;
}

.p-info {
    color: antiquewhite;
    font-size: 30px;
    margin-left: 40px;
    padding-right: 50px;
    padding-top: 20px;
    float: right;
}

.msg {
    color: antiquewhite;
    font-size: 20px;
    margin-left: 130px;
}

#player-score {
    color: green;
}

#computer-score {
    color: red;
}


.computerUI{
    width: 400px;
    height: 500px;
    margin-left: 200px;
    margin-top: -450px;
    float: left;
}

.rock{
    width: 300px;
    height: 300px;
}


.btn-div{
    margin-right: -600px;
    margin-top: -100px;
    width: 600px;
    float: right;
}

.btn{
    width: 100px;
    height: 70px;
    border: 3px solid #5999ff;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 20px;
    display: inline-block;
}


.userchoice {
    width: 60px;
    height: 50px;
}

.click-me {
    color: black;
    border: 3px solid #5999ff;
    border-radius: 50%;
    width: 100px;
    height: 50px;
}

.choice {
    color: beige;
    margin-top: 100px;
    margin-left: 60px;
}